

/* Start:/bitrix/js/socialnetwork/common/socialnetwork.common.min.css?1534943264727*/
.sonet-ui-btn-cont{display:block;padding:10px 0 10px 0}.sonet-ui-btn-cont.sonet-ui-btn-cont-center{text-align:center;position:relative}.ui-alert.sonet-ui-form-error-block-invisible{display:none}#bx-group-join-successfull-request-popup.popup-window{padding:20px}.sonet-group-join-successfull-request-popup-title{font-size:14px;font-weight:bold;padding-bottom:10px}.sonet-group-join-successfull-request-popup-text{padding-bottom:20px}.sonet-wait-cont{height:31px}.sonet-wait-icon{height:31px;width:31px;background:url('/bitrix/js/socialnetwork/common/images/wait.gif') no-repeat 0 0;display:inline-block;position:relative;left:1px;top:1px}.sonet-wait-text{height:31px;display:inline-block;position:relative;padding:0 10px 0 5px;left:1px;top:-11px;color:#7f7f7f}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork/templates/.default/style.css?153494326416263*/
/* Standart */
div.empty-clear{
	clear:both;
	width:100%;
	overflow:hidden;
	height:4px!important;}
form.wd-form{
 	padding:0px!important;
 	margin:0px!important;
 	border:none!important;}
div.controls a{
	display:block;
	margin:0px;
	padding:3px 3px 5px 23px;
	border:none;
	white-space:nowrap;
	text-decoration:none;
	background-position:2px center;
	background-repeat: no-repeat;
	vertical-align:bottom;}
span.controls a{
	margin:0px;
	padding:5px 3px 6px 21px;
	border:none;
	white-space:nowrap;
	text-decoration:none;
	background-position:2px center;
	background-repeat: no-repeat;
	vertical-align:bottom;}
span.controls a:hover{}
div.wd-help-list{
	border:1px solid #C4C4C4;
	padding:4px;
	background-color:#f6f6f6;}
ul.wd-content li{
	padding: 5px;}
table.clear, td.clear {
	border:none!important;
	padding:0px;
	margin:0px;
	width:auto!important;
	background-color:transparent;}
div.debug-info{
	position:absolute;
	width:170px; padding:5px;
	background-color:#FCF7D1;
	border:1px solid #EACB6B;
	text-align:left;
	z-index:100; font-size:11px;}
/* /Standart */

/* Top Menu */
div.wd-menu{}
table.wd-menu{
	border:none;
	background-color:#CEDEEC;
	width:100%;
	padding:0px;
	margin:0px;}
table.wd-row{
	height:auto!important;}
table.wd-menu td {
	font-size:100%;
	padding:0px;
	margin:0px;
	border:none;}
table.wd-menu thead, table.wd-menu tfoot,
/*table.wd-menu tbody td.right, table.wd-menu tbody td.left,*/
table.wd-menu-inner div.section-separator{
	display:none;}
table.wd-menu tbody td.center{
	width:100%;
	padding:4px;}
table.wd-menu div.separator {
	width:1px;
	height:21px;
	border-left:1px solid #9CB0C5;
	margin:0px 3px 0px 3px;}
table.wd-menu-inner td{
	vertical-align:bottom;}
table.wd-menu-inner td.separator{
	vertical-align:middle;}
table.wd-menu-inner div.controls a{
	border:1px solid #CEDEEC;
	color:#072838;}
table.wd-menu-inner div.controls a:hover {
	border:1px solid #6290A6;
	background-color:#E6EEF5;}
table.wd-menu-inner div.controls a,
table.wd-menu-inner div.controls a:visited,
table.wd-menu-inner div.controls a:active {
	color:#072838;}
table.wd-menu-inner{}
/* Top Menu icons*/
table.wd-menu-inner div.sections a, table.wd-menu-inner div.sections span{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/sections.gif');}
table.wd-menu-inner div.add a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/section_add.gif');}
table.wd-menu-inner div.subscribe a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/subscribe.gif');}
table.wd-menu-inner div.unsubscribe a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/unsubscribe.gif');}
table.wd-menu-inner div.element-add a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_add.gif');}
table.wd-menu-inner div.upload a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_upload.gif');}
table.wd-menu-inner div.element_edit a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_edit.gif');}
table.wd-menu-inner div.element_delete a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_delete.gif');}
table.wd-menu-inner div.element_download a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element.gif');}
table.wd-menu-inner div.help a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/help.gif');}
table.wd-menu-inner div.maping a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/maping.gif');}
table.wd-menu div.notice{
	padding:0px;
	margin:0px 10px;
	width:15px;
	height:15px;
	display:block;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/notice.gif');
	corsor:hand;
	cursor:pointer;}
/* Breadcrumb */
div.wd-breadcrumb-navigation{
	padding:10px 0px;
	display:block;}
div.wd-breadcrumb-navigation span{
	padding:10px 0;
	font-size:11px;
	color:#7f7f7f;}
div.wd-breadcrumb-navigation span.wd-breadcrumb-navigation-header{
	color:#777777;}
div.wd-breadcrumb-navigation a{
	text-decoration:none;
	color:#7f7f7f;}
/* /Top Menu */

/* Main table */
table.wd-main{
	border-collapse:collapse;
	font-size:100%;
	border: 1px solid #C4C4C4;}
table.wd-main th, table.wd-main td{
	font-size:100%;}
table.wd-main th.wd-cell, table.wd-main td.wd-cell{}
table.wd-main thead th{
	background-color: #CEDEEC;
	color:#072838;
	white-space:nowrap;
	font-weight:bold;}
table.wd-main thead th.selected{
	background-color: #E6EEF5;}
table.wd-main thead a.wd-sort{
	color:#072838;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-right:10px;
	background-position:right center;
	background-repeat:no-repeat;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/passive_down.gif');}
table.wd-main thead a.wd-sort-desc{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/active_up.gif');}
table.wd-main thead a.wd-sort-asc{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/active_down.gif');}
table.wd-main tbody th{
	white-space:nowrap;
	font-weight:normal;
	text-align:right;}
table.wd-main tbody td{
	border-left:none;
	border-right:none;}
table.wd-main tbody td.selected{
	color: #0C4797!important;}
table.wd-main tbody tr.over td{
	background-color:#fefdea;}
table.wd-main tbody tr.checked td{
	background-color:#eaf8df;}
table.wd-main td{
	padding:0px 5px;
	white-space:normal!important;}
/* Page History */
table.wd-main div.popup{
	z-index:10;
	background-color:white!important;}
table.wd-main div.popup div.visible{
	cursor:default;
	z-index:10;
	border:1px solid white;}
table.wd-main div.popup div.hidden{
	width:100%;
	cursor:default;
	z-index:1000;
	background-color:white!important;
	border: 1px solid #C4C4C4;
	top:-3px;
	left:-3px;
	padding:3px;}
/* /Main table */
/* Form table */
table.webdav-form {
	border:none;
	width:100%;}
table.webdav-form td, table.webdav-form th {
	font-size:100%;
	padding:5px 10px 5px 0px;
	font-weight:normal;
	vertical-align:top;}
table.webdav-form td{
	text-align:left;
	width:70%;}
table.webdav-form th {
	text-align:right;
	width:30%;}
table.webdav-form tr.header th, table.webdav-form tr.header2 th{
/*	height:35px;*/
	background-color: #CEDEEC;
	color:#072838;
	vertical-align:middle;
	white-space:nowrap;
	font-weight:normal;
	text-align:center;}
table.webdav-form tr.header2 th{
	background-color: #E6EEF5;}
table.webdav-form tbody select, table.webdav-form tbody input, table.webdav-form tbody textarea{
	width:70%;}
table.webdav-form tbody textarea{
	height:50px;}
table.webdav-form tbody input.checkbox{
	width:auto;}
table.webdav-form tfoot td{
	height:35px;
	background-color: #CEDEEC;
	text-align:center;
	vertical-align:middle;}
table.webdav-form span{
	padding-left:5px;}
table.webdav-form span.controls a{
	font-size:11px;
	white-space:nowrap;}
table.webdav-form span.controls a:hover{}
table.webdav-form span.element_download  a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_download.gif');}
table.webdav-form span.element_edit a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_edit.gif');}
table.webdav-form span.element_history a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_history.gif');}
table.webdav-form span.element_delete a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_delete.gif');}
table.webdav-form span.element_view a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_view.gif');}
table.webdav-form span.element_unlock a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_unlock.gif');}

span.comments{
	font-style:italic;}
table.webdav-upload tbody select, table.webdav-upload tbody input{
	width:auto;}
/* /Form table */

/* Actions styles */
div.up a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/up.gif');}
div.show-action a.action{
	display:block;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/arr_down.gif');
	background-repeat:no-repeat;
	background-position:22px center;
	padding:3px;
	border:1px solid white;
	margin:0px;
	white-space:nowrap;}
div.show-action a.action:hover, table.wd-dropdown-pointer-active a.action {
	border:1px solid #AEB6C2;
	background-color:#DBE3F2;}
div.show-action a.action div.empty{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/action.gif');
	background-repeat:no-repeat;
	background-position:left center;
	width:25px;
	height:20px; }
div.wd-action-block{
	display:block;
	height:11px;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/action_head.gif');
	background-repeat:no-repeat;
	background-position:top center;}
tr.selected div.show-action a.action{}
/* Actions styles */
/* Dropdown */
table.wd-dropdown-pointer{
	display:table!important;
	border:none!important;
	padding:0px;
	margin:0px;}
table.wd-dropdown-pointer td{
	border:none!important;
	padding:0px!important;
	margin:0px!important;}
div.wd-dropdown-menu table.wd-dropdown-menu, div.wd-dropdown-menu td{
	font-size:100%;
	border:none;
	background:transparent;
	width:auto;
	vertical-align:middle;
	white-space:normal;
	text-decoration: none;
	text-align:left;
	padding:0px;
	margin:0px;
	height:auto;}
div.wd-dropdown-menu{
	background:#FCFCFC;
	border:1px solid #B6B6B6;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/menu_gutter.gif');
	background-repeat:repeat-y;
	background-position:left top;
	padding:1px;}
table.wd-dropdown-menu{
	display:table!important;
	width:100%;}
table.wd-dropdown-menu td.wd-dropdown-menu{
	padding:0px!important;}
table.wd-dropdown-item{
	width:100%!important;
	margin:1px;
	border:none;}
table.wd-dropdown-item td{
	cursor:default;}
table.wd-dropdown-item-over{
	margin:0px;
	border:1px solid #AEB6C2;
	background-color:#CEDAEE;}
table.wd-dropdown-item-over td{
	cursor:hand;
	cursor:pointer;}
table.wd-dropdown-item td.gutter {
	width:23px;}
table.wd-dropdown-item td.gutter div{
	width:20px;
	height:20px;
	background-position:center center;
	background-repeat:no-repeat;}
table.wd-dropdown-item td.content{
	padding:3px 5px 3px 9px;
	white-space: nowrap;}
table.wd-dropdown-item td.gutter div.section_edit{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/section_edit.gif');}
table.wd-dropdown-item td.gutter div.section_drop{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/section_drop.gif');}
table.wd-dropdown-item td.gutter div.element_edit{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_edit.gif');}
table.wd-dropdown-item td.gutter div.element_view{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_view.gif');}
table.wd-dropdown-item td.gutter div.element_delete{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_delete.gif');}
table.wd-dropdown-item td.gutter div.element_download{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element.gif');}
table.wd-dropdown-item td.gutter div.element_unlock{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_unlock.gif');}
table.wd-dropdown-item td.gutter div.element_history{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_history.gif');}
table.wd-dropdown-item td.gutter div.element_subscribe{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_subscribe.gif');}
table.wd-dropdown-item td.gutter div.element_unsubscribe{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_unsubscribe.gif');}
table.wd-dropdown-item td.gutter div.element_unlock{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_unlock.gif');}
td.popupmenu div.popupseparator {margin:1px 0px 1px 30px;
	background-color:#B6B6B6;
	height:1px;
	overflow:hidden;}
/* /Dropdown */

/* Popups */
div.wd-popup, div.wd-window-edit{
	background-color:white;
	padding:0px;
	margin:0px;
	border: 1px solid gray;
	width:350px;
	height:200px;
	overflow:hidden;
	text-align:center;
	color:black;}
div.wd-popup{
	width:352px;
	height:202px;}
div.wd-window-edit{
	border:none;}
div.wd-window-edit table, div.wd-window-edit table td{
	font-size:100%;
	text-align:left;
	vertical-align:top;
	border:none;
	padding:0px;
	margin:0px;}
div.wd-window-edit table.wd-window-edit{
	width:100%;
	height:200px;}
div.wd-window-edit table.wd-window-edit thead td{
	height:50px!important;
	overflow:hidden;
	font-size: 110%;
	padding:5px 10px 0px 10px;
	color:gray;
	font-weight:bold;}
div.wd-window-edit table.wd-window-edit tbody td{
	height:100px;
	padding:0px 10px;}
div.wd-window-edit table.wd-window-edit tfoot td{
	text-align:center;
	vertical-align:middle;
	padding:2px;
	height:50px!important;}
div.wd-window-edit table.wd-window-edit tfoot input{
	margin:0px 7px;}
div.wd-window-edit table.wd-window-edit tbody div.content {
	height:90px;
	overflow:auto;
	border:none;
	position:relative;
	width:330px;}
div.wd-window-edit table.wd-window-edit tbody input{
	width: 90%;}

/* /Popups */


/* Elements icons */
div.section-icon{
	background-position:center;
	background-repeat: no-repeat;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/section.gif');
	float:left;
	width:20px;
	height:20px;
	margin-right:2px;}
div.element-icon {
	margin-right:2px;
	float:left;
	width:20px;
	height:20px;
	background-position:center center;
	background-repeat: no-repeat;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icundef.gif');}
div.element-lamp-green, div.element-lamp-yellow, div.element-lamp-red {
	background-repeat: no-repeat;
	background-position:center;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/green.gif');
	height:14px;
	width:14px;}
div.element-lamp-yellow {
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/yellow.gif');}
div.element-lamp-red {
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/red.gif');}
div.icbmp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icbmp.gif');}
div.iccss{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/iccss.gif');}
div.iccsv{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/iccsv.gif');}
div.icdib{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdib.gif');}
div.icdoc{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdoc.gif');}
div.icdocp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdocp.gif');}
div.icdocx{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdocx.gif');}
div.icgif{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icgif.gif');}
div.ichtm{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ichtm.gif');}
div.ichtml{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ichtml.gif');}
div.icjfif{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjfif.gif');}
div.icjpe{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjpe.gif');}
div.icjpeg{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjpeg.gif');}
div.icjpg{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjpg.gif');}
div.icjs{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjs.gif');}
div.icpdf{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icpdf.gif');}
div.icphp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icphp.gif');}
div.icpng{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icpng.gif');}
div.icppt, div.icpptx{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icppt.gif');}
div.icpptp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icpptp.gif');}
div.icrar{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icrar.gif');}
div.icrtf{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icrtf.gif');}
div.icswf{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icswf.gif');}
div.ictif{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ictif.gif');}
div.ictiff{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ictiff.gif');}
div.ictxt{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ictxt.gif');}
div.icundef{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icundef.gif');}
div.icxls{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxls.gif');}
div.icxlsp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxlsp.gif');}
div.icxlsx{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxlsx.gif');}
div.icxml{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxml.gif');}
div.iczip{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/iczip.gif');}
/* /Elements icons */
div.element-name{
	float:left;}
a.element-properties{
	float:left;
	display:block;
	padding-left:16px;
	margin-left:7px;
	background-position:left center;
	background-repeat: no-repeat;}
a.element-comments{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/comments_count.gif');}
a.element-view{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/element_view.gif');
	height:15px; width:15px;}
div#pwaitwindow {
	position:relative;
	text-align:center;
	width:100%;}
iframe.waitwindow {
	position:absolute;
	border:0px;
	z-index:9999;}
div.waitwindow {
	position:absolute;
	width:170px!important;
	padding:10px;
	background-color:#FCF7D1;
	border:1px solid #EACB6B;
	text-align:center;
	z-index:10000;
	font-size:13px;
	background-image:url(/bitrix/components/bitrix/socialnetwork/templates/.default/images/wait.gif);
	background-position:10px center;
	background-repeat:no-repeat;
	display:block;}
/*/ WEBDAV*/

/*top panel icons */
div.bx-top-panel table.bx-pnbutton div.icon-socnet-reindex {background-image:url(/bitrix/components/bitrix/socialnetwork/templates/.default/images/panel/reindex.gif);}

/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/style.css?15349432622131*/
#ddmenuadd .bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions {
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) right -37px; 
}

#ddmenuadd .bx-sm-feature-select .bx-sm-parent .bx-sm-actions {
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) right 0px; 
}

.bx-sm-feature-noselect .bx-sm-parent, .bx-sm-feature-noselect .bx-sm-parent-button { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat right -34px; 
}
.bx-sm-feature-select .bx-sm-parent { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat right 0px; 
}
.bx-sm-feature-select .bx-sm-parent-button { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat right 2px; 
}

.bx-sm-feature-noselect .bx-sm-parent .bx-sm-header, .bx-sm-feature-noselect .bx-sm-parent-button .bx-sm-header-button  { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat left -34px; 
}

.bx-sm-feature-select .bx-sm-parent .bx-sm-header { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat left -0px; 
}

.bx-sm-feature-select .bx-sm-parent-button .bx-sm-header-button  { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat left 2px; 
}

.bx-sm-separator { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/tabs.gif) no-repeat left -68px; 
}

.bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions {
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/upper-passive-fill.gif) repeat-x; 
}

.bx-sm-feature-noselect .bx-sm-actions-left { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/upper-passive-left.gif) no-repeat center center; 
}

.bx-sm-feature-noselect .bx-sm-actions-right { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/upper-passive-right.gif) no-repeat center center; 
}

#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-right { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/images/upper-passive-right.gif) no-repeat center center; 
}

.bx-sm-feature-noselect .bx-sm-parent a, .bx-sm-feature-noselect a.bx-sm-parent, .bx-sm-feature-noselect a.bx-sm-parent-button  { 
	color: #767676;
}
.bx-sm-feature-noselect .bx-sm-parent a:visited, .bx-sm-feature-noselect a.bx-sm-parent:visited, .bx-sm-feature-noselect a.bx-sm-parent-button:visited  { 
	color: #767676;
}
.bx-sm-feature-noselect .bx-sm-parent a:hover, .bx-sm-feature-noselect a.bx-sm-parent:hover, .bx-sm-feature-noselect a.bx-sm-parent-button:hover{ 
	color: #767676;
}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.menu/templates/.default/style.min.css?15349432628778*/
div.ddmenu{position:relative;z-index:190}div.ddmenu div.ddmenu-inactive,div.ddmenu div.ddmenu-active{position:absolute;z-index:200}div.ddmenu div.ddmenu-inactive{display:none}div.ddmenu div.ddmenu-active{display:block;top:33px;background:white}.bx-sm-parent .bx-sm-actions{display:none;overflow:hidden;position:absolute;z-index:500;top:-14px;height:17px;right:0}.bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions{top:-14px}.bx-sm-feature-select .bx-sm-parent .bx-sm-actions{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-fill.gif) repeat-x;top:-16px}#ddmenuadd .bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions{top:3px;right:-17px;height:31px;width:22px}#ddmenuadd .bx-sm-feature-select .bx-sm-parent .bx-sm-actions{top:0;height:34px;padding-top:2px;width:22px;right:-17px}.bx-sm-parent .bx-sm-parent-button{position:relative;height:34px}#ddmenuadd .bx-sm-parent,#ddmenuinact .bx-sm-parent{margin-left:5px;zoom:1}#ddmenuadd .bx-sm-parent .bx-sm-header,#ddmenuinact .bx-sm-parent .bx-sm-header{margin-right:20px;padding-left:20px}.bx-sm-parent .bx-sm-header{max-width:250px;overflow:hidden}.bx-sm-holder-show .bx-sm-parent .bx-sm-header{padding-left:20px;padding-right:20px;display:block}.bx-sm-parent .bx-sm-header,.bx-sm-parent-button .bx-sm-header-button{height:34px;text-align:center}.bx-sm-feature-noselect .bx-sm-parent .bx-sm-header,.bx-sm-feature-noselect .bx-sm-parent-button .bx-sm-header-button{margin-right:2px}.bx-sm-feature-select .bx-sm-parent .bx-sm-header{margin-right:2px}.bx-sm-feature-select .bx-sm-parent-button .bx-sm-header-button{margin-right:2px}.bx-sm-parent a,a.bx-sm-parent,a.bx-sm-parent-button{display:block;text-decoration:none;font-size:13px;font-weight:bold;line-height:34px;font-family:Verdana,Arial,Helvetica,sans-serif}#ddmenuadd .bx-sm-parent a,#ddmenuadd a.bx-sm-parent,#ddmenuadd a.bx-sm-parent-button,#ddmenuinact .bx-sm-parent a,#ddmenuinact a.bx-sm-parent,#ddmenuinact a.bx-sm-parent-button{overflow:hidden;width:150px}.bx-sm-feature-select .bx-sm-parent a,.bx-sm-feature-select a.bx-sm-parent,.bx-sm-feature-select a.bx-sm-parent-button{color:#000;decoration:none}.bx-sm-feature-select .bx-sm-parent a:visited,.bx-sm-feature-select a.bx-sm-parent:visited,.bx-sm-feature-select a.bx-sm-parent-button:visited{color:#000;decoration:none}.bx-sm-feature-select .bx-sm-parent a:hover,.bx-sm-feature-select a.bx-sm-parent:hover,.bx-sm-feature-select a.bx-sm-parent-button:hover{color:#000;decoration:none}.bx-sm-feature-noselect .bx-sm-parent a,.bx-sm-feature-noselect a.bx-sm-parent,.bx-sm-feature-noselect a.bx-sm-parent-button{decoration:none}.bx-sm-feature-noselect .bx-sm-parent a:visited,.bx-sm-feature-noselect a.bx-sm-parent:visited,.bx-sm-feature-noselect a.bx-sm-parent-button:visited{decoration:none}.bx-sm-feature-noselect .bx-sm-parent a:hover,.bx-sm-feature-noselect a.bx-sm-parent:hover,.bx-sm-feature-noselect a.bx-sm-parent-button:hover{decoration:none}.bx-sm-actions-separator{width:1px;float:left}.bx-sm-feature-noselect .bx-sm-actions-separator{height:17px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-passive-separator.gif) no-repeat center center}.bx-sm-feature-select .bx-sm-actions-separator{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-separator.gif) no-repeat center center}#ddmenuadd .bx-sm-actions-separator{height:1px;font-size:1px;position:relative}#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-separator{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-passive-separator-horizontal.gif) no-repeat center center;width:17px;top:13px;right:-5px}#ddmenuadd .bx-sm-feature-select .bx-sm-actions-separator{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-separator-horizontal.gif) no-repeat center center;width:14px;top:13px;right:-4px}.bx-sm-actions-left{width:2px;float:left}.bx-sm-feature-noselect .bx-sm-actions-left{height:17px}.bx-sm-feature-select .bx-sm-actions-left{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-left.gif) no-repeat center center}#ddmenuadd .bx-sm-actions-left{position:absolute;font-size:1px;right:16px}#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-left{width:1px;height:31px;background:#dadada}#ddmenuadd .bx-sm-feature-select .bx-sm-actions-left{width:0;height:0}.bx-sm-actions-right{width:2px;float:left}.bx-sm-feature-noselect .bx-sm-actions-right{height:17px}.bx-sm-feature-select .bx-sm-actions-right{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-right.gif) no-repeat center center}#ddmenuadd .bx-sm-actions-right{width:0;position:absolute}#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-right{height:17px}#ddmenuadd .bx-sm-feature-select .bx-sm-actions-right{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-right.gif) no-repeat center center}a.bx-sm-actions-button,a.bx-sm-actions-button:hover{width:17px;height:17px}#ddmenuadd a.bx-sm-actions-button,#ddmenuadd a.bx-sm-actions-button:hover{height:14px;font-size:1px;position:absolute}#ddmenuadd .bx-sm-feature-select a.bx-sm-actions-button,#ddmenuadd .bx-sm-feature-select a.bx-sm-actions-button:hover{width:17px}#ddmenuadd .bx-sm-feature-noselect a.bx-sm-actions-button,#ddmenuadd .bx-sm-feature-noselect a.bx-sm-actions-button:hover{width:14px}.bx-sm-parent a.bx-sm-actions-button,.bx-sm-parent a.bx-sm-actions-button:hover{overflow:hidden;float:left}#ddmenuadd .bx-sm-parent a.bx-sm-actions-button,#ddmenuadd .bx-sm-parent a.bx-sm-actions-button:hover{overflow:hidden;float:none}a.bx-sm-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-light.gif) center center no-repeat}#ddmenuadd a.bx-sm-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-light.gif) 3px -2px no-repeat;top:1px;right:3px}a.bx-sm-remove{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-light.gif) center center no-repeat}#ddmenuadd a.bx-sm-remove{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-light.gif) 3px -2px no-repeat;right:3px}#ddmenuadd .bx-sm-feature-select a.bx-sm-remove{top:17px}#ddmenuadd .bx-sm-feature-noselect a.bx-sm-remove{top:14px}a.bx-sm-plus{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-plus-light.gif) center center no-repeat}a.bx-sm-plus:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-plus-dark.gif) center center no-repeat}a.bx-sm-settings:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-dark.gif) center center no-repeat}#ddmenuadd a.bx-sm-settings:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-dark.gif) 3px -2px no-repeat}a.bx-sm-remove:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-dark.gif) center center no-repeat}#ddmenuadd a.bx-sm-remove:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-dark.gif) 3px -2px no-repeat}.bx-sm-ddmenu-top-left{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-up.gif) no-repeat left}.bx-sm-ddmenu-top-right{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-up.gif) no-repeat right;margin-left:2px;height:2px;font-size:1px}.bx-sm-ddmenu-bottom-left{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-bottom.gif) no-repeat left}.bx-sm-ddmenu-bottom-right{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-bottom.gif) no-repeat right;margin-left:2px;height:2px;font-size:1px}.bx-sm-ddmenu-middle-left{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-middle.gif) repeat-y left}.bx-sm-ddmenu-middle-right{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-middle.gif) repeat-y right;margin-left:2px;padding-right:7px;padding-top:5px}#ddmenuadd .bx-sm-ddmenu-middle-right{padding-right:24px;margin-left:5px}#ddmenuadd .bx-sm-ddmenu-middle-right-regular{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-middle.gif) repeat-y right;margin-left:2px;padding-right:7px;padding-top:5px}.bx-sm-leftshadow{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/left-shadow.gif) no-repeat left bottom}.bx-sm-rightshadow{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/right-shadow.gif) no-repeat left bottom}.bx-sm-rightline{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/right-line.gif) no-repeat left bottom}.bx-sm-item-add{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-add{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -33px 0}.bx-sm-feature-select .bx-sm-item-add{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -33px -17px}.bx-sm-item-inactive{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-inactive{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -11px 0}.bx-sm-feature-select .bx-sm-item-inactive{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -11px -17px}.bx-sm-item-clear{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-clear{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -22px 0}.bx-sm-feature-select .bx-sm-item-clear{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -22px -17px}.bx-sm-item-settings{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat 0 0}.bx-sm-feature-select .bx-sm-item-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat 0 -17px}.bx-sm-dotted{border:1px #b9b9b9 dashed;width:100px;height:32px}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.admin.set/templates/.default/style.css?1534943264568*/
div.sonet-admin-note { background-color: #FFFDC1; border: 1px solid #E6E4AF; color: #787878; margin: 12px 0; padding: 6px; text-align: center; }

.sonet-adminset-error-text-block { padding: 20px; }
.sonet-adminset-wait-cont { height: 31px; }
.sonet-adminset-wait-icon { height: 31px; width: 31px; background: url('/bitrix/components/bitrix/socialnetwork.admin.set/templates/.default/images/wait.gif') no-repeat 0 0; display: inline-block; position: relative; left: 1px; top: 1px; }
.sonet-adminset-wait-text { height: 31px; display: inline-block; position: relative; padding: 0 10px 0 5px; left: 1px; top: -11px; color: #7F7F7F; }

/* End */


/* Start:/bitrix/components/bitrix/main.app.passwords/templates/.default/style.min.css?15349431799970*/
.bx-otp-wrap-container{padding:20px 25px}h2.bx-otp-wrap-container-title{font-size:20px;font-weight:bold;margin:0;padding:0;color:#535b69}h3.bx-otp-wrap-container-title{font-size:14px;font-weight:bold;margin:0;padding:0;color:#535b69}.bx-otp-wrap-container-description{font-size:13px;color:#535b69}.bx-otp-section-white{padding:7px;background:#fff}.bx-otp-accordion-container{margin-bottom:7px}.bx-otp-section-white .bx-otp-accordion-container:last-child{margin-bottom:0}.bx-otp-accordion-head-block{position:relative;padding:15px 60px 13px 17px;background:#e8ecee;cursor:pointer;-webkit-transition:background .2s ease;-moz-transition:background .2s ease;-ms-transition:background .2s ease;-o-transition:background .2s ease;transition:background .2s ease}.bx-otp-accordion-container.open .bx-otp-accordion-head-block{background:#d6f1fb}.bx-otp-accordion-container.open .bx-otp-accordion-head-block:hover{background-color:#b8dfee}.bx-otp-accordion-container.close .bx-otp-accordion-head-block{background:#e8ecee}.bx-otp-accordion-container.close .bx-otp-accordion-head-block:hover{background-color:#d3d5d6}.bx-otp-accordion-head-title{font-size:21px;font-weight:bold;line-height:21px;margin-bottom:3px;color:#535b69}.bx-otp-accordion-head-description{font-size:12px;opacity:.6;color:#293445}.bx-otp-accordion-action{position:absolute;top:50%;right:16px;display:block;width:26px;height:26px;margin-top:-13px;cursor:pointer;-webkit-transition:background-color .2s ease,transform .2s ease;-moz-transition:background-color .2s ease,transform .2s ease;-ms-transition:background-color .2s ease,transform .2s ease;-o-transition:background-color .2s ease,transform .2s ease;transition:background-color .2s ease,transform .2s ease;border-radius:50%;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAMCAQAAAAAab+mAAAASUlEQVQIHTXB0QlAYBSA0a94lxlkEGUWZRwvZlEGkSEYgIdPt+s/BycKHweSetkRDIcNYNqssFiwWDHt1hhOW0C97Qm+jiRnfh9PA0Wiutf+nAAAAABJRU5ErkJggg==');background-repeat:no-repeat;background-position:center}.bx-otp-accordion-container.open .bx-otp-accordion-action{background-color:#7fc4de;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.bx-otp-accordion-container.open:hover .bx-otp-accordion-action{background-color:#53accd}.bx-otp-accordion-container.close .bx-otp-accordion-action{background-color:#acb2b9}.bx-otp-accordion-container.close:hover .bx-otp-accordion-action{background-color:#8f969e}.bx-otp-accordion-content-block{overflow:hidden;padding-bottom:30px}.bx-otp-accordion-container.open .bx-otp-accordion-content-block{height:auto}.bx-otp-accordion-container.close .bx-otp-accordion-content-block{height:0;padding-bottom:0}.bx-otp-access-table{width:100%;border-collapse:collapse}.bx-otp-access-table thead td{font-family:'OpenSans','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:10px;font-weight:bold;padding:12px 5px 10px;text-align:right;white-space:nowrap;text-transform:uppercase;opacity:.7;color:#535b69}.bx-otp-access-table thead td:last-child{padding-right:20px}.bx-otp-access-table tbody td{padding:10px 5px}.bx-otp-access-table tbody td small{font-size:13px;margin:0 15px 0 10px;opacity:.4;color:#000}.bx-otp-access-table-param{font-size:17px;width:100%;padding-left:16px;color:#000;border-top:1px solid #edeef0}.bx-otp-access-table-value{font-size:13px;width:140px;margin:0 15px 0 10px;text-align:right;white-space:nowrap;color:#abaaaa;border-top:1px solid #edeef0}.bx-otp-access-table-action{width:auto!important;padding-left:10px;text-align:right;border-top:1px solid #edeef0}.bx-otp-int{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;color:#000;border:1px solid #bdc0c5;padding:0 10px;display:inline-block;border-radius:2px;-webkit-transition:border .5s ease;-moz-transition:border .5s ease;-ms-transition:border .5s ease;-o-transition:border .5s ease;transition:border .5s ease;outline:0;background-color:#fff;margin-bottom:10px}.bx-otp-int.big{line-height:40px;height:40px;font-size:12px}.bx-otp-int.medium{line-height:32px;height:32px;font-size:12px}.bx-otp-int.small{line-height:29px;height:29px;font-size:12px}.bx-otp-int.xsmall{line-height:18px;height:20px;font-size:11px;padding-bottom:2px;font-weight:normal}.bx-otp-slt:focus,.bx-otp-slt:active{border-color:#2e95dd}.bx-otp-slt.error{border-color:#f00}.bx-otp-slt.good{border-color:#bbed21}.bx-otp-input-custom{width:375px;text-transform:uppercase;border:1px solid #c5cdd3}.bx-otp-slt{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;border:1px solid #bdc0c5;padding:0 10px}.bx-otp-slt.big{line-height:40px;height:40px;font-size:14px}.bx-otp-slt.medium{line-height:32px;height:32px;font-size:14px}.bx-otp-slt.small{line-height:29px;height:29px;font-size:14px}.bx-otp-slt.xsmall{line-height:18px;height:20px;font-size:13px;padding-bottom:2px;font-weight:normal}.bx-ie .bx-otp-slt{padding-right:0;padding-left:0;height:auto;line-height:normal;margin-top:5px;margin-bottom:5px}.bx-otp-popup-container{font-size:13px;margin:10px 0;color:#6e757f;background:#fff}.bx-otp-popup-content{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;min-width:500px;padding:20px;color:#000;border-radius:2px;background-color:#edf1f3}.bx-otp-popup-col-left{font-size:12px;line-height:30px;float:left;width:240px;padding-right:50px;text-align:center;color:#7a818a}.bx-otp-popup-col-left-img{width:155px;height:221px;margin:3px auto 5px;background:url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/popup_cnt_1.png) no-repeat center}.bx-otp-popup-col-right{max-width:900px}.bx-otp-popup-col-right p{font-size:13px;margin:10px 0;color:#6e757f}.bx-otp-popup-lottery-container{width:451px}.bx-otp-popup-lottery-container p{font-size:13px;line-height:20px;margin-bottom:10px}.bx-otp-popup-lottery{font-size:27px;font-weight:bold;line-height:84px;position:relative;width:451px;height:84px;text-align:center;vertical-align:middle;color:#000;background:#f7fafc no-repeat center}.bx-otp-popup-lottery-black{background:url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/otp_trans_speed_black.gif)}.bx-otp-popup-lottery-white{background:url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/otp_trans_speed_bg.gif)}.bx-otp-popup-lottery span{padding-right:8px}.bx-otp-popup-lottery span:last-child{padding-right:0}.bx-otp-popup-content-title{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:21px;font-weight:bold;margin-top:6px;padding-bottom:10px;color:#505967}.bx-otp-popup-buttons{padding:20px 10px 0;text-align:center}.bx-otp-popup-remove-container{padding:40px 45px;border-bottom:1px solid #edeef0}.bx-otp-popup-remove-container p{font-size:15px;line-height:25px}.bx-otp-popup-remove-title{font-size:22px;opacity:.9;color:#000;text-align:center}.bx-otp-btn{font-family:'Open Sans',Helvetica,Arial,sans-serif;font-weight:bold;display:inline-block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:0 15px;cursor:pointer;text-align:center;vertical-align:middle;text-decoration:none;text-transform:uppercase;color:#535b69;border:0;border-radius:2px}.bx-otp-btn.wait{-webkit-background-size:auto 70%!important;background-size:auto 70%!important;color:rgba(0,0,0,0)!important}.bx-otp-btn.big{line-height:40px;height:40px;font-size:12px}.bx-otp-btn.medium{line-height:32px;height:32px;font-size:12px}.bx-otp-btn.small{line-height:29px;height:29px;font-size:12px}.bx-otp-btn.xsmall{line-height:18px;height:20px;font-size:11px;padding-bottom:2px;font-weight:normal}.bx-otp-btn.gray{background-color:#868d95;color:#fff}.bx-otp-btn.gray:hover{background-color:#5b6573;color:#fff}.bx-otp-btn.gray:active{background-color:#3b506e;color:#fff}.bx-otp-btn.gray.wait{background:#3b506e url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/ld_gray.gif) center center no-repeat}.bx-otp-btn.red{background-color:#f1361b;color:#fff}.bx-otp-btn.red:hover{background-color:#cc1a00;color:#fff}.bx-otp-btn.red:active{background-color:#d24430;color:#fff}.bx-otp-btn.red.wait{background:#d24430 url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/ld_red.gif) center center no-repeat}.bx-otp-btn.green{background-color:#bbed21}.bx-otp-btn.green:hover{background-color:#d2f95f;color:#535b69}.bx-otp-btn.green:active{background-color:#b2e233;color:#535b69}.bx-otp-btn.green.wait{background:#b2e233 url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/ld_green.gif) center center no-repeat}.bx-otp-btn.blue{background-color:#3bc8f5}.bx-otp-btn.blue:hover{background-color:#3fddff;color:#fff}.bx-otp-btn.blue:active{background-color:#13b1e3;color:#fff}.bx-otp-btn.blue.wait{background:#13b1e3 url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/ld_blue.gif) center center no-repeat}.bx-otp-btn.lightgray{background-color:#d9dfe3}.bx-otp-btn.lightgray:hover{background-color:#cfd3d6;color:#535b69}.bx-otp-btn.lightgray.wait{background:#cfd3d6 url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/ld_lightgray.gif) center center no-repeat}.bx-otp-btn.transparent{background-color:transparent}.bx-otp-btn.transparent:hover{background-color:#e5e8eb;color:#535b69}.bx-otp-btn.transparent.wait{background:#e5e8eb url(/bitrix/components/bitrix/main.app.passwords/templates/.default/images/ld_transparent.gif) center center no-repeat}.bx-otp-btn.transparent.border{border:1px solid #c4cace}.bx-otp-btn.transparent.border:hover{border:1px solid #9fa4ab}.bx-otp-btn.transparent.border.green{background-color:transparent;color:#7aa548;border:1px solid #aee38e}.bx-otp-btn.transparent.border.green:hover{border-color:#5d950d;color:#5d950d}.bx-otp-btn.transparent.border.red{background-color:transparent;color:#f51919;border:1px solid #ff8989}.bx-otp-btn.transparent.border.red:hover{border-color:#d33131;color:#c51515}.bx-otp-btn.bdr50.big{border-radius:20px}.bx-otp-btn.bdr50.medium{border-radius:16px}.bx-otp-btn.bdr50.small{border-radius:14.5px}.bx-otp-btn.bdr50.xsmall{border-radius:9px}.p0{padding:0!important}.m0{margin:0!important}.mb0{margin-bottom:0!important}.clb{clear:both!important}.fwb{font-weight:bold!important}.fwn{font-weight:normal!important}.tal{text-align:left!important}.tar{text-align:right!important}.tac{text-align:center!important}.tdn{text-decoration:none!important}.lhn{line-height:normal!important}.ttn{text-transform:none!important}
/* End */
/* /bitrix/js/socialnetwork/common/socialnetwork.common.min.css?1534943264727 */
/* /bitrix/components/bitrix/socialnetwork/templates/.default/style.css?153494326416263 */
/* /bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/grey/style.css?15349432622131 */
/* /bitrix/components/bitrix/socialnetwork.menu/templates/.default/style.min.css?15349432628778 */
/* /bitrix/components/bitrix/socialnetwork.admin.set/templates/.default/style.css?1534943264568 */
/* /bitrix/components/bitrix/main.app.passwords/templates/.default/style.min.css?15349431799970 */
