

/* Start:/bitrix/js/socialnetwork/common/socialnetwork.common.min.css?1534943264727*/
.sonet-ui-btn-cont{display:block;padding:10px 0 10px 0}.sonet-ui-btn-cont.sonet-ui-btn-cont-center{text-align:center;position:relative}.ui-alert.sonet-ui-form-error-block-invisible{display:none}#bx-group-join-successfull-request-popup.popup-window{padding:20px}.sonet-group-join-successfull-request-popup-title{font-size:14px;font-weight:bold;padding-bottom:10px}.sonet-group-join-successfull-request-popup-text{padding-bottom:20px}.sonet-wait-cont{height:31px}.sonet-wait-icon{height:31px;width:31px;background:url('/bitrix/js/socialnetwork/common/images/wait.gif') no-repeat 0 0;display:inline-block;position:relative;left:1px;top:1px}.sonet-wait-text{height:31px;display:inline-block;position:relative;padding:0 10px 0 5px;left:1px;top:-11px;color:#7f7f7f}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork/templates/.default/style.css?153494326416263*/
/* Standart */
div.empty-clear{
	clear:both;
	width:100%;
	overflow:hidden;
	height:4px!important;}
form.wd-form{
 	padding:0px!important;
 	margin:0px!important;
 	border:none!important;}
div.controls a{
	display:block;
	margin:0px;
	padding:3px 3px 5px 23px;
	border:none;
	white-space:nowrap;
	text-decoration:none;
	background-position:2px center;
	background-repeat: no-repeat;
	vertical-align:bottom;}
span.controls a{
	margin:0px;
	padding:5px 3px 6px 21px;
	border:none;
	white-space:nowrap;
	text-decoration:none;
	background-position:2px center;
	background-repeat: no-repeat;
	vertical-align:bottom;}
span.controls a:hover{}
div.wd-help-list{
	border:1px solid #C4C4C4;
	padding:4px;
	background-color:#f6f6f6;}
ul.wd-content li{
	padding: 5px;}
table.clear, td.clear {
	border:none!important;
	padding:0px;
	margin:0px;
	width:auto!important;
	background-color:transparent;}
div.debug-info{
	position:absolute;
	width:170px; padding:5px;
	background-color:#FCF7D1;
	border:1px solid #EACB6B;
	text-align:left;
	z-index:100; font-size:11px;}
/* /Standart */

/* Top Menu */
div.wd-menu{}
table.wd-menu{
	border:none;
	background-color:#CEDEEC;
	width:100%;
	padding:0px;
	margin:0px;}
table.wd-row{
	height:auto!important;}
table.wd-menu td {
	font-size:100%;
	padding:0px;
	margin:0px;
	border:none;}
table.wd-menu thead, table.wd-menu tfoot,
/*table.wd-menu tbody td.right, table.wd-menu tbody td.left,*/
table.wd-menu-inner div.section-separator{
	display:none;}
table.wd-menu tbody td.center{
	width:100%;
	padding:4px;}
table.wd-menu div.separator {
	width:1px;
	height:21px;
	border-left:1px solid #9CB0C5;
	margin:0px 3px 0px 3px;}
table.wd-menu-inner td{
	vertical-align:bottom;}
table.wd-menu-inner td.separator{
	vertical-align:middle;}
table.wd-menu-inner div.controls a{
	border:1px solid #CEDEEC;
	color:#072838;}
table.wd-menu-inner div.controls a:hover {
	border:1px solid #6290A6;
	background-color:#E6EEF5;}
table.wd-menu-inner div.controls a,
table.wd-menu-inner div.controls a:visited,
table.wd-menu-inner div.controls a:active {
	color:#072838;}
table.wd-menu-inner{}
/* Top Menu icons*/
table.wd-menu-inner div.sections a, table.wd-menu-inner div.sections span{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/sections.gif');}
table.wd-menu-inner div.add a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/section_add.gif');}
table.wd-menu-inner div.subscribe a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/subscribe.gif');}
table.wd-menu-inner div.unsubscribe a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/unsubscribe.gif');}
table.wd-menu-inner div.element-add a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_add.gif');}
table.wd-menu-inner div.upload a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_upload.gif');}
table.wd-menu-inner div.element_edit a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_edit.gif');}
table.wd-menu-inner div.element_delete a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element_delete.gif');}
table.wd-menu-inner div.element_download a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/element.gif');}
table.wd-menu-inner div.help a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/help.gif');}
table.wd-menu-inner div.maping a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/maping.gif');}
table.wd-menu div.notice{
	padding:0px;
	margin:0px 10px;
	width:15px;
	height:15px;
	display:block;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/menu_icons/notice.gif');
	corsor:hand;
	cursor:pointer;}
/* Breadcrumb */
div.wd-breadcrumb-navigation{
	padding:10px 0px;
	display:block;}
div.wd-breadcrumb-navigation span{
	padding:10px 0;
	font-size:11px;
	color:#7f7f7f;}
div.wd-breadcrumb-navigation span.wd-breadcrumb-navigation-header{
	color:#777777;}
div.wd-breadcrumb-navigation a{
	text-decoration:none;
	color:#7f7f7f;}
/* /Top Menu */

/* Main table */
table.wd-main{
	border-collapse:collapse;
	font-size:100%;
	border: 1px solid #C4C4C4;}
table.wd-main th, table.wd-main td{
	font-size:100%;}
table.wd-main th.wd-cell, table.wd-main td.wd-cell{}
table.wd-main thead th{
	background-color: #CEDEEC;
	color:#072838;
	white-space:nowrap;
	font-weight:bold;}
table.wd-main thead th.selected{
	background-color: #E6EEF5;}
table.wd-main thead a.wd-sort{
	color:#072838;
	font-weight:bold;
	text-decoration:none;
	display:block;
	padding-right:10px;
	background-position:right center;
	background-repeat:no-repeat;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/passive_down.gif');}
table.wd-main thead a.wd-sort-desc{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/active_up.gif');}
table.wd-main thead a.wd-sort-asc{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/active_down.gif');}
table.wd-main tbody th{
	white-space:nowrap;
	font-weight:normal;
	text-align:right;}
table.wd-main tbody td{
	border-left:none;
	border-right:none;}
table.wd-main tbody td.selected{
	color: #0C4797!important;}
table.wd-main tbody tr.over td{
	background-color:#fefdea;}
table.wd-main tbody tr.checked td{
	background-color:#eaf8df;}
table.wd-main td{
	padding:0px 5px;
	white-space:normal!important;}
/* Page History */
table.wd-main div.popup{
	z-index:10;
	background-color:white!important;}
table.wd-main div.popup div.visible{
	cursor:default;
	z-index:10;
	border:1px solid white;}
table.wd-main div.popup div.hidden{
	width:100%;
	cursor:default;
	z-index:1000;
	background-color:white!important;
	border: 1px solid #C4C4C4;
	top:-3px;
	left:-3px;
	padding:3px;}
/* /Main table */
/* Form table */
table.webdav-form {
	border:none;
	width:100%;}
table.webdav-form td, table.webdav-form th {
	font-size:100%;
	padding:5px 10px 5px 0px;
	font-weight:normal;
	vertical-align:top;}
table.webdav-form td{
	text-align:left;
	width:70%;}
table.webdav-form th {
	text-align:right;
	width:30%;}
table.webdav-form tr.header th, table.webdav-form tr.header2 th{
/*	height:35px;*/
	background-color: #CEDEEC;
	color:#072838;
	vertical-align:middle;
	white-space:nowrap;
	font-weight:normal;
	text-align:center;}
table.webdav-form tr.header2 th{
	background-color: #E6EEF5;}
table.webdav-form tbody select, table.webdav-form tbody input, table.webdav-form tbody textarea{
	width:70%;}
table.webdav-form tbody textarea{
	height:50px;}
table.webdav-form tbody input.checkbox{
	width:auto;}
table.webdav-form tfoot td{
	height:35px;
	background-color: #CEDEEC;
	text-align:center;
	vertical-align:middle;}
table.webdav-form span{
	padding-left:5px;}
table.webdav-form span.controls a{
	font-size:11px;
	white-space:nowrap;}
table.webdav-form span.controls a:hover{}
table.webdav-form span.element_download  a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_download.gif');}
table.webdav-form span.element_edit a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_edit.gif');}
table.webdav-form span.element_history a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_history.gif');}
table.webdav-form span.element_delete a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_delete.gif');}
table.webdav-form span.element_view a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_view.gif');}
table.webdav-form span.element_unlock a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/simple/element_unlock.gif');}

span.comments{
	font-style:italic;}
table.webdav-upload tbody select, table.webdav-upload tbody input{
	width:auto;}
/* /Form table */

/* Actions styles */
div.up a{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/up.gif');}
div.show-action a.action{
	display:block;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/arr_down.gif');
	background-repeat:no-repeat;
	background-position:22px center;
	padding:3px;
	border:1px solid white;
	margin:0px;
	white-space:nowrap;}
div.show-action a.action:hover, table.wd-dropdown-pointer-active a.action {
	border:1px solid #AEB6C2;
	background-color:#DBE3F2;}
div.show-action a.action div.empty{
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/action.gif');
	background-repeat:no-repeat;
	background-position:left center;
	width:25px;
	height:20px; }
div.wd-action-block{
	display:block;
	height:11px;
	background-image: url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/action_head.gif');
	background-repeat:no-repeat;
	background-position:top center;}
tr.selected div.show-action a.action{}
/* Actions styles */
/* Dropdown */
table.wd-dropdown-pointer{
	display:table!important;
	border:none!important;
	padding:0px;
	margin:0px;}
table.wd-dropdown-pointer td{
	border:none!important;
	padding:0px!important;
	margin:0px!important;}
div.wd-dropdown-menu table.wd-dropdown-menu, div.wd-dropdown-menu td{
	font-size:100%;
	border:none;
	background:transparent;
	width:auto;
	vertical-align:middle;
	white-space:normal;
	text-decoration: none;
	text-align:left;
	padding:0px;
	margin:0px;
	height:auto;}
div.wd-dropdown-menu{
	background:#FCFCFC;
	border:1px solid #B6B6B6;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/menu_gutter.gif');
	background-repeat:repeat-y;
	background-position:left top;
	padding:1px;}
table.wd-dropdown-menu{
	display:table!important;
	width:100%;}
table.wd-dropdown-menu td.wd-dropdown-menu{
	padding:0px!important;}
table.wd-dropdown-item{
	width:100%!important;
	margin:1px;
	border:none;}
table.wd-dropdown-item td{
	cursor:default;}
table.wd-dropdown-item-over{
	margin:0px;
	border:1px solid #AEB6C2;
	background-color:#CEDAEE;}
table.wd-dropdown-item-over td{
	cursor:hand;
	cursor:pointer;}
table.wd-dropdown-item td.gutter {
	width:23px;}
table.wd-dropdown-item td.gutter div{
	width:20px;
	height:20px;
	background-position:center center;
	background-repeat:no-repeat;}
table.wd-dropdown-item td.content{
	padding:3px 5px 3px 9px;
	white-space: nowrap;}
table.wd-dropdown-item td.gutter div.section_edit{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/section_edit.gif');}
table.wd-dropdown-item td.gutter div.section_drop{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/section_drop.gif');}
table.wd-dropdown-item td.gutter div.element_edit{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_edit.gif');}
table.wd-dropdown-item td.gutter div.element_view{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_view.gif');}
table.wd-dropdown-item td.gutter div.element_delete{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_delete.gif');}
table.wd-dropdown-item td.gutter div.element_download{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element.gif');}
table.wd-dropdown-item td.gutter div.element_unlock{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_unlock.gif');}
table.wd-dropdown-item td.gutter div.element_history{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_history.gif');}
table.wd-dropdown-item td.gutter div.element_subscribe{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_subscribe.gif');}
table.wd-dropdown-item td.gutter div.element_unsubscribe{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_unsubscribe.gif');}
table.wd-dropdown-item td.gutter div.element_unlock{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/dropdown/element_unlock.gif');}
td.popupmenu div.popupseparator {margin:1px 0px 1px 30px;
	background-color:#B6B6B6;
	height:1px;
	overflow:hidden;}
/* /Dropdown */

/* Popups */
div.wd-popup, div.wd-window-edit{
	background-color:white;
	padding:0px;
	margin:0px;
	border: 1px solid gray;
	width:350px;
	height:200px;
	overflow:hidden;
	text-align:center;
	color:black;}
div.wd-popup{
	width:352px;
	height:202px;}
div.wd-window-edit{
	border:none;}
div.wd-window-edit table, div.wd-window-edit table td{
	font-size:100%;
	text-align:left;
	vertical-align:top;
	border:none;
	padding:0px;
	margin:0px;}
div.wd-window-edit table.wd-window-edit{
	width:100%;
	height:200px;}
div.wd-window-edit table.wd-window-edit thead td{
	height:50px!important;
	overflow:hidden;
	font-size: 110%;
	padding:5px 10px 0px 10px;
	color:gray;
	font-weight:bold;}
div.wd-window-edit table.wd-window-edit tbody td{
	height:100px;
	padding:0px 10px;}
div.wd-window-edit table.wd-window-edit tfoot td{
	text-align:center;
	vertical-align:middle;
	padding:2px;
	height:50px!important;}
div.wd-window-edit table.wd-window-edit tfoot input{
	margin:0px 7px;}
div.wd-window-edit table.wd-window-edit tbody div.content {
	height:90px;
	overflow:auto;
	border:none;
	position:relative;
	width:330px;}
div.wd-window-edit table.wd-window-edit tbody input{
	width: 90%;}

/* /Popups */


/* Elements icons */
div.section-icon{
	background-position:center;
	background-repeat: no-repeat;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/section.gif');
	float:left;
	width:20px;
	height:20px;
	margin-right:2px;}
div.element-icon {
	margin-right:2px;
	float:left;
	width:20px;
	height:20px;
	background-position:center center;
	background-repeat: no-repeat;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icundef.gif');}
div.element-lamp-green, div.element-lamp-yellow, div.element-lamp-red {
	background-repeat: no-repeat;
	background-position:center;
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/green.gif');
	height:14px;
	width:14px;}
div.element-lamp-yellow {
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/yellow.gif');}
div.element-lamp-red {
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/table/red.gif');}
div.icbmp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icbmp.gif');}
div.iccss{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/iccss.gif');}
div.iccsv{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/iccsv.gif');}
div.icdib{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdib.gif');}
div.icdoc{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdoc.gif');}
div.icdocp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdocp.gif');}
div.icdocx{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icdocx.gif');}
div.icgif{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icgif.gif');}
div.ichtm{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ichtm.gif');}
div.ichtml{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ichtml.gif');}
div.icjfif{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjfif.gif');}
div.icjpe{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjpe.gif');}
div.icjpeg{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjpeg.gif');}
div.icjpg{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjpg.gif');}
div.icjs{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icjs.gif');}
div.icpdf{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icpdf.gif');}
div.icphp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icphp.gif');}
div.icpng{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icpng.gif');}
div.icppt, div.icpptx{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icppt.gif');}
div.icpptp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icpptp.gif');}
div.icrar{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icrar.gif');}
div.icrtf{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icrtf.gif');}
div.icswf{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icswf.gif');}
div.ictif{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ictif.gif');}
div.ictiff{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ictiff.gif');}
div.ictxt{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/ictxt.gif');}
div.icundef{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icundef.gif');}
div.icxls{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxls.gif');}
div.icxlsp{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxlsp.gif');}
div.icxlsx{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxlsx.gif');}
div.icxml{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/icxml.gif');}
div.iczip{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/iczip.gif');}
/* /Elements icons */
div.element-name{
	float:left;}
a.element-properties{
	float:left;
	display:block;
	padding-left:16px;
	margin-left:7px;
	background-position:left center;
	background-repeat: no-repeat;}
a.element-comments{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/comments_count.gif');}
a.element-view{
	background-image:url('/bitrix/components/bitrix/socialnetwork/templates/.default/images/webdav/icons/element_view.gif');
	height:15px; width:15px;}
div#pwaitwindow {
	position:relative;
	text-align:center;
	width:100%;}
iframe.waitwindow {
	position:absolute;
	border:0px;
	z-index:9999;}
div.waitwindow {
	position:absolute;
	width:170px!important;
	padding:10px;
	background-color:#FCF7D1;
	border:1px solid #EACB6B;
	text-align:center;
	z-index:10000;
	font-size:13px;
	background-image:url(/bitrix/components/bitrix/socialnetwork/templates/.default/images/wait.gif);
	background-position:10px center;
	background-repeat:no-repeat;
	display:block;}
/*/ WEBDAV*/

/*top panel icons */
div.bx-top-panel table.bx-pnbutton div.icon-socnet-reindex {background-image:url(/bitrix/components/bitrix/socialnetwork/templates/.default/images/panel/reindex.gif);}

/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/style.css?15349432622131*/
#ddmenuadd .bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions {
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) right -37px; 
}

#ddmenuadd .bx-sm-feature-select .bx-sm-parent .bx-sm-actions {
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) right 0px; 
}

.bx-sm-feature-noselect .bx-sm-parent, .bx-sm-feature-noselect .bx-sm-parent-button { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat right -34px; 
}
.bx-sm-feature-select .bx-sm-parent { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat right 0px; 
}
.bx-sm-feature-select .bx-sm-parent-button { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat right 2px; 
}

.bx-sm-feature-noselect .bx-sm-parent .bx-sm-header, .bx-sm-feature-noselect .bx-sm-parent-button .bx-sm-header-button  { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat left -34px; 
}

.bx-sm-feature-select .bx-sm-parent .bx-sm-header { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat left -0px; 
}

.bx-sm-feature-select .bx-sm-parent-button .bx-sm-header-button  { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat left 2px; 
}

.bx-sm-separator { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/tabs.gif) no-repeat left -68px; 
}

.bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions {
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/upper-passive-fill.gif) repeat-x; 
}

.bx-sm-feature-noselect .bx-sm-actions-left { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/upper-passive-left.gif) no-repeat center center; 
}

.bx-sm-feature-noselect .bx-sm-actions-right { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/upper-passive-right.gif) no-repeat center center; 
}

#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-right { 
	background: url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/images/upper-passive-right.gif) no-repeat center center; 
}

.bx-sm-feature-noselect .bx-sm-parent a, .bx-sm-feature-noselect a.bx-sm-parent, .bx-sm-feature-noselect a.bx-sm-parent-button  { 
	color: #75787b;
}
.bx-sm-feature-noselect .bx-sm-parent a:visited, .bx-sm-feature-noselect a.bx-sm-parent:visited, .bx-sm-feature-noselect a.bx-sm-parent-button:visited  { 
	color: #75787b;
}
.bx-sm-feature-noselect .bx-sm-parent a:hover, .bx-sm-feature-noselect a.bx-sm-parent:hover, .bx-sm-feature-noselect a.bx-sm-parent-button:hover{ 
	color: #75787b;
}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.menu/templates/.default/style.min.css?15349432628778*/
div.ddmenu{position:relative;z-index:190}div.ddmenu div.ddmenu-inactive,div.ddmenu div.ddmenu-active{position:absolute;z-index:200}div.ddmenu div.ddmenu-inactive{display:none}div.ddmenu div.ddmenu-active{display:block;top:33px;background:white}.bx-sm-parent .bx-sm-actions{display:none;overflow:hidden;position:absolute;z-index:500;top:-14px;height:17px;right:0}.bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions{top:-14px}.bx-sm-feature-select .bx-sm-parent .bx-sm-actions{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-fill.gif) repeat-x;top:-16px}#ddmenuadd .bx-sm-feature-noselect .bx-sm-parent .bx-sm-actions{top:3px;right:-17px;height:31px;width:22px}#ddmenuadd .bx-sm-feature-select .bx-sm-parent .bx-sm-actions{top:0;height:34px;padding-top:2px;width:22px;right:-17px}.bx-sm-parent .bx-sm-parent-button{position:relative;height:34px}#ddmenuadd .bx-sm-parent,#ddmenuinact .bx-sm-parent{margin-left:5px;zoom:1}#ddmenuadd .bx-sm-parent .bx-sm-header,#ddmenuinact .bx-sm-parent .bx-sm-header{margin-right:20px;padding-left:20px}.bx-sm-parent .bx-sm-header{max-width:250px;overflow:hidden}.bx-sm-holder-show .bx-sm-parent .bx-sm-header{padding-left:20px;padding-right:20px;display:block}.bx-sm-parent .bx-sm-header,.bx-sm-parent-button .bx-sm-header-button{height:34px;text-align:center}.bx-sm-feature-noselect .bx-sm-parent .bx-sm-header,.bx-sm-feature-noselect .bx-sm-parent-button .bx-sm-header-button{margin-right:2px}.bx-sm-feature-select .bx-sm-parent .bx-sm-header{margin-right:2px}.bx-sm-feature-select .bx-sm-parent-button .bx-sm-header-button{margin-right:2px}.bx-sm-parent a,a.bx-sm-parent,a.bx-sm-parent-button{display:block;text-decoration:none;font-size:13px;font-weight:bold;line-height:34px;font-family:Verdana,Arial,Helvetica,sans-serif}#ddmenuadd .bx-sm-parent a,#ddmenuadd a.bx-sm-parent,#ddmenuadd a.bx-sm-parent-button,#ddmenuinact .bx-sm-parent a,#ddmenuinact a.bx-sm-parent,#ddmenuinact a.bx-sm-parent-button{overflow:hidden;width:150px}.bx-sm-feature-select .bx-sm-parent a,.bx-sm-feature-select a.bx-sm-parent,.bx-sm-feature-select a.bx-sm-parent-button{color:#000;decoration:none}.bx-sm-feature-select .bx-sm-parent a:visited,.bx-sm-feature-select a.bx-sm-parent:visited,.bx-sm-feature-select a.bx-sm-parent-button:visited{color:#000;decoration:none}.bx-sm-feature-select .bx-sm-parent a:hover,.bx-sm-feature-select a.bx-sm-parent:hover,.bx-sm-feature-select a.bx-sm-parent-button:hover{color:#000;decoration:none}.bx-sm-feature-noselect .bx-sm-parent a,.bx-sm-feature-noselect a.bx-sm-parent,.bx-sm-feature-noselect a.bx-sm-parent-button{decoration:none}.bx-sm-feature-noselect .bx-sm-parent a:visited,.bx-sm-feature-noselect a.bx-sm-parent:visited,.bx-sm-feature-noselect a.bx-sm-parent-button:visited{decoration:none}.bx-sm-feature-noselect .bx-sm-parent a:hover,.bx-sm-feature-noselect a.bx-sm-parent:hover,.bx-sm-feature-noselect a.bx-sm-parent-button:hover{decoration:none}.bx-sm-actions-separator{width:1px;float:left}.bx-sm-feature-noselect .bx-sm-actions-separator{height:17px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-passive-separator.gif) no-repeat center center}.bx-sm-feature-select .bx-sm-actions-separator{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-separator.gif) no-repeat center center}#ddmenuadd .bx-sm-actions-separator{height:1px;font-size:1px;position:relative}#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-separator{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-passive-separator-horizontal.gif) no-repeat center center;width:17px;top:13px;right:-5px}#ddmenuadd .bx-sm-feature-select .bx-sm-actions-separator{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-separator-horizontal.gif) no-repeat center center;width:14px;top:13px;right:-4px}.bx-sm-actions-left{width:2px;float:left}.bx-sm-feature-noselect .bx-sm-actions-left{height:17px}.bx-sm-feature-select .bx-sm-actions-left{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-left.gif) no-repeat center center}#ddmenuadd .bx-sm-actions-left{position:absolute;font-size:1px;right:16px}#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-left{width:1px;height:31px;background:#dadada}#ddmenuadd .bx-sm-feature-select .bx-sm-actions-left{width:0;height:0}.bx-sm-actions-right{width:2px;float:left}.bx-sm-feature-noselect .bx-sm-actions-right{height:17px}.bx-sm-feature-select .bx-sm-actions-right{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-right.gif) no-repeat center center}#ddmenuadd .bx-sm-actions-right{width:0;position:absolute}#ddmenuadd .bx-sm-feature-noselect .bx-sm-actions-right{height:17px}#ddmenuadd .bx-sm-feature-select .bx-sm-actions-right{height:18px;background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/upper-active-right.gif) no-repeat center center}a.bx-sm-actions-button,a.bx-sm-actions-button:hover{width:17px;height:17px}#ddmenuadd a.bx-sm-actions-button,#ddmenuadd a.bx-sm-actions-button:hover{height:14px;font-size:1px;position:absolute}#ddmenuadd .bx-sm-feature-select a.bx-sm-actions-button,#ddmenuadd .bx-sm-feature-select a.bx-sm-actions-button:hover{width:17px}#ddmenuadd .bx-sm-feature-noselect a.bx-sm-actions-button,#ddmenuadd .bx-sm-feature-noselect a.bx-sm-actions-button:hover{width:14px}.bx-sm-parent a.bx-sm-actions-button,.bx-sm-parent a.bx-sm-actions-button:hover{overflow:hidden;float:left}#ddmenuadd .bx-sm-parent a.bx-sm-actions-button,#ddmenuadd .bx-sm-parent a.bx-sm-actions-button:hover{overflow:hidden;float:none}a.bx-sm-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-light.gif) center center no-repeat}#ddmenuadd a.bx-sm-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-light.gif) 3px -2px no-repeat;top:1px;right:3px}a.bx-sm-remove{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-light.gif) center center no-repeat}#ddmenuadd a.bx-sm-remove{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-light.gif) 3px -2px no-repeat;right:3px}#ddmenuadd .bx-sm-feature-select a.bx-sm-remove{top:17px}#ddmenuadd .bx-sm-feature-noselect a.bx-sm-remove{top:14px}a.bx-sm-plus{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-plus-light.gif) center center no-repeat}a.bx-sm-plus:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-plus-dark.gif) center center no-repeat}a.bx-sm-settings:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-dark.gif) center center no-repeat}#ddmenuadd a.bx-sm-settings:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-arrow-dark.gif) 3px -2px no-repeat}a.bx-sm-remove:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-dark.gif) center center no-repeat}#ddmenuadd a.bx-sm-remove:hover{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-delete-dark.gif) 3px -2px no-repeat}.bx-sm-ddmenu-top-left{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-up.gif) no-repeat left}.bx-sm-ddmenu-top-right{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-up.gif) no-repeat right;margin-left:2px;height:2px;font-size:1px}.bx-sm-ddmenu-bottom-left{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-bottom.gif) no-repeat left}.bx-sm-ddmenu-bottom-right{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-bottom.gif) no-repeat right;margin-left:2px;height:2px;font-size:1px}.bx-sm-ddmenu-middle-left{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-middle.gif) repeat-y left}.bx-sm-ddmenu-middle-right{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-middle.gif) repeat-y right;margin-left:2px;padding-right:7px;padding-top:5px}#ddmenuadd .bx-sm-ddmenu-middle-right{padding-right:24px;margin-left:5px}#ddmenuadd .bx-sm-ddmenu-middle-right-regular{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/white-corners-middle.gif) repeat-y right;margin-left:2px;padding-right:7px;padding-top:5px}.bx-sm-leftshadow{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/left-shadow.gif) no-repeat left bottom}.bx-sm-rightshadow{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/right-shadow.gif) no-repeat left bottom}.bx-sm-rightline{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/right-line.gif) no-repeat left bottom}.bx-sm-item-add{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-add{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -33px 0}.bx-sm-feature-select .bx-sm-item-add{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -33px -17px}.bx-sm-item-inactive{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-inactive{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -11px 0}.bx-sm-feature-select .bx-sm-item-inactive{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -11px -17px}.bx-sm-item-clear{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-clear{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -22px 0}.bx-sm-feature-select .bx-sm-item-clear{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat -22px -17px}.bx-sm-item-settings{width:11px;height:17px;margin-left:5px;margin-right:5px;position:relative;top:10px;left:1px}.bx-sm-feature-noselect .bx-sm-item-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat 0 0}.bx-sm-feature-select .bx-sm-item-settings{background:url(/bitrix/components/bitrix/socialnetwork.menu/templates/.default/images/action-sprite.gif) no-repeat 0 -17px}.bx-sm-dotted{border:1px #b9b9b9 dashed;width:100px;height:32px}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.admin.set/templates/.default/style.css?1534943264568*/
div.sonet-admin-note { background-color: #FFFDC1; border: 1px solid #E6E4AF; color: #787878; margin: 12px 0; padding: 6px; text-align: center; }

.sonet-adminset-error-text-block { padding: 20px; }
.sonet-adminset-wait-cont { height: 31px; }
.sonet-adminset-wait-icon { height: 31px; width: 31px; background: url('/bitrix/components/bitrix/socialnetwork.admin.set/templates/.default/images/wait.gif') no-repeat 0 0; display: inline-block; position: relative; left: 1px; top: 1px; }
.sonet-adminset-wait-text { height: 31px; display: inline-block; position: relative; padding: 0 10px 0 5px; left: 1px; top: -11px; color: #7F7F7F; }

/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.user_profile/templates/short/style.css?15349432642290*/
table.sonet-user-profile-friends, table.sonet-user-profile-groups
{
	border:1px solid #C4C4C3;
	border-collapse:collapse;
}

table.sonet-user-profile-friends td, table.sonet-user-profile-groups td
{
	border:1px solid #c4c4c4;
	padding:6px 5px;
}

table.sonet-user-profile-friends thead td, table.sonet-user-profile-friends th, table.sonet-user-profile-groups thead td, table.sonet-user-profile-groups th
{
	background-color:#f2f2ea;
	/*text-align:left;*/
	font-weight:bold;
	font-size:12px;
	background-image:none;
	border:1px solid #C4C4C3;
	border-bottom:none;
	padding:8px;
}


table.sonet-user-profile-friend-box tbody td, table.sonet-user-profile-friend-box td
{
	border:none;
	padding:6px 5px;
	background:transparent;
}

div.bx-user-control {
	border-left: solid 1px #C4C4C4;
	padding: 0px 0px 0px 10px;
	margin: 10px 30px 10px 0px;
}

div.bx-user-control ul {list-style-image: none; list-style-position: outside; list-style-type: none; margin: 0; padding: 0;}
div.bx-user-control li.bx-icon {
	padding-top: 3px;
	height: 19px;
	display: block;
	padding-left: 22px;
	clear: both;
	background-image: url(/bitrix/components/bitrix/socialnetwork.user_profile/templates/short/images/icons_all.png);
	background-repeat: no-repeat;
}

div.bx-user-control .bx-icon-online{background-position: 0 -20px;}
div.bx-user-control .bx-icon-away{background-position: 0 -40px;}
div.bx-user-control .bx-icon-birth{background-position: 0 -60px;}
div.bx-user-control .bx-icon-featured{background-position: 0 -80px;}

div.bx-user-control li.bx-icon-action {
	padding-top: 3px;
	height: 19px;
	display: block;
	padding-left: 22px;
	clear: both;
	background-image: url(/bitrix/components/bitrix/socialnetwork.user_profile/templates/short/images/icons_all5.gif);
	background-repeat: no-repeat;
	white-space:nowrap;
}

div.bx-user-control .bx-icon-message{background-position: 0 0;}
div.bx-user-control .bx-icon-history{background-position: 0 -20px;}
div.bx-user-control .bx-icon-friend-remove{background-position: 0 -40px;}
div.bx-user-control .bx-icon-friend-add{background-position: 0 -60px;}
div.bx-user-control .bx-icon-group-add{background-position: 0 -80px;}
div.bx-user-control .bx-icon-profile{background-position: 0 -100px;}
div.bx-user-control .bx-icon-privacy{background-position: 0 -120px;}
div.bx-user-control .bx-icon-settings{background-position: 0 -140px;}
div.bx-user-control .bx-icon-video-call{background-position: 0 -160px;}

/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.user_friends.ex/templates/.default/style.min.css?15349432643265*/
.sonet-members-item{min-height:136px;position:relative}* html .sonet-members-item{zoom:1}.sonet-members-item-name{color:#000;font-size:15px}.sonet-members-item-menu{color:#b2b2b2;font-size:13px;right:0;top:0;position:absolute}.sonet-members-item-menu-title{color:#b2b2b2;cursor:pointer;font-size:13px;padding-right:9px;position:relative;font-family:Arial,Verdana,Helvetica,sans-serif}.sonet-members-item-menu-arrow{background:url("/bitrix/components/bitrix/socialnetwork.user_friends.ex/templates/.default/images/group-list-sprite.png") no-repeat -36px -99px;height:3px;top:7px;right:4px;position:absolute;width:5px}.sonet-members-member-block-shift{margin-left:-7px}* html .sonet-members-member-block-shift{margin-left:-25px}.sonet-members-separator{background:url("/bitrix/components/bitrix/socialnetwork.user_friends.ex/templates/.default/images/group-list-sprite.png") no-repeat right -121px #f2f2f2;height:1px;font-size:1px;overflow:hidden;margin:5px 0 8px}.sonet-members-member-img-wrap{display:block;float:left;padding-left:7%;vertical-align:top;zoom:1}* html .sonet-members-member-img-wrap{padding-left:18px}.sonet-members-member-img{background:url("/bitrix/components/bitrix/socialnetwork.user_friends.ex/templates/.default/images/group-list-sprite.png") no-repeat 0 -189px;border:0;display:inline-block;float:left;height:42px;vertical-align:top;width:42px}.sonet-members-member-block{display:inline-block;height:auto;margin:0 1% 8px 0;padding:5px 0 3px;overflow:hidden;vertical-align:top;width:28%;border-radius:5px;min-width:240px;position:relative}* html .sonet-members-member-block{padding-left:25px;width:250px}*+html .sonet-members-member-block{width:46%;overflow:hidden;position:relative}.sonet-members-item .sonet-members-member-block-over{background-color:#f5f5f5}.sonet-members-item .sonet-members-member-block-active{background-color:#f5f1db!important}.sonet-members-member-text{display:block;overflow:hidden;padding-left:3%;padding-right:3%;width:auto}* html .sonet-members-item .sonet-members-member-text{padding-right:7px;padding-left:7px;width:345px;zoom:1}.sonet-members-checkbox{display:none;left:2%;top:4px;margin:0;border:0;overflow:hidden;height:15px;width:15px;padding:0;font-size:1px;line-height:1;position:absolute}* html .sonet-members-checkbox{left:2px;top:4px}.sonet-members-item .sonet-members-member-block-over .sonet-members-checkbox,.sonet-members-item .sonet-members-member-block-active .sonet-members-checkbox{display:block}.sonet-members-caption{color:#23ae26;display:block;font-size:11px}.sonet-members-member-title{display:block;font-size:15px;margin-bottom:4px;zoom:1}.sonet-members-member-link,.sonet-members-member-link:hover,.sonet-members-member-link:visited,.sonet-members-member-link:active{color:#000!important;font-size:15px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap}.sonet-members-member-link{text-decoration:none}.sonet-members-member-link:hover{text-decoration:underline}.sonet-members-member-description{display:block;text-overflow:ellipsis;overflow:hidden;font-size:13px;color:#7f7f7f;white-space:nowrap;zoom:1}.sonet-members-nav{padding:10px 0 20px 0}.sonet-members-wait-cont{height:31px}.sonet-members-wait-icon{height:31px;width:31px;background:url('/bitrix/components/bitrix/socialnetwork.user_friends.ex/templates/.default/images/wait.gif') no-repeat 0 0;display:inline-block;position:relative;left:1px;top:1px}.sonet-members-wait-text{height:31px;display:inline-block;position:relative;padding:0 10px 0 5px;left:1px;top:-11px;color:#7f7f7f}.sonet-members-error-text-block{padding:20px}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.message_form/templates/.default/style.css?1534943264608*/
table.sonet-message-form  
{
	width: 100%;
	border: 1px solid #ABC4D0;
	border-collapse:collapse;
	padding: 0px;
}
table.sonet-message-form td, table.sonet-message-form tbody td
{
	font-weight:normal;
	font-size:11px;
	border:none;
	padding:7px;
}

table.sonet-message-form th
{
	font-weight:normal;
	font-size:12px;
	background-color:#F0F5F7;
	padding: 7px;
	border:none;
}
table.sonet-message-form tbody th
{
	border:none;
}
table.sonet-message-form th.sonet-message-form-small
{
	font-size:11px;
}

table.sonet-message-form-smile tbody td, table.sonet-message-form-smile td
{
	border:none;
	padding:3px;
}
/* End */


/* Start:/bitrix/components/bitrix/socialnetwork.messages_input/templates/.default/style.css?1534943262726*/
table.sonet-user-profile-friends, table.sonet-user-profile-groups
{
	border:1px solid #C4C4C3;
	border-collapse:collapse;
}

table.sonet-user-profile-friends td, table.sonet-user-profile-groups td
{
	border:1px solid #c4c4c4;
	padding:6px 5px;
}

table.sonet-user-profile-friends thead td, table.sonet-user-profile-friends th, table.sonet-user-profile-groups thead td, table.sonet-user-profile-groups th
{
	background-color:#f2f2ea;
	/*text-align:left;*/
	font-weight:bold;
	font-size:12px;
	background-image:none;
	border:1px solid #C4C4C3;
	border-bottom:none;
	padding:8px;
}


table.sonet-user-profile-friend-box tbody td, table.sonet-user-profile-friend-box td
{
	border:none;
	padding:6px 5px;
	background:transparent;
}
/* End */


/* Start:/bitrix/components/bitrix/main.user.link/templates/.default/style.min.css?1534943179878*/
.bx-user-info-thumbnail img{border:1px solid #e0e0e0}.bx-user-info-anchor{white-space:nowrap;cursor:pointer}.bx-user-info-anchor-nolink{white-space:nowrap}table.bx-user-info-anchor td.bx-user-info-anchor-cell,table.bx-user-info-anchor-nolink td.bx-user-info-anchor-cell{padding:0 2px!important;border:0!important;background-color:transparent!important}.bx-user-info-data .bx-user-info-data-separator{background-color:#e0e0e0;width:218px;height:1px!important;margin-top:5px;margin-bottom:2px;padding:0!important;font-size:0!important}.bx-user-info-online,.bx-user-info-offline{height:11px;width:11px;display:block}.bx-user-info-online{background-image:url(/bitrix/components/bitrix/main.user.link/templates/.default/images/icon_online_small.gif);background-repeat:no-repeat;background-position:0 0}.bx-user-info-online-cell{margin-top:5px}.bx-user-info-name{display:block;zoom:1}
/* End */
/* /bitrix/js/socialnetwork/common/socialnetwork.common.min.css?1534943264727 */
/* /bitrix/components/bitrix/socialnetwork/templates/.default/style.css?153494326416263 */
/* /bitrix/components/bitrix/socialnetwork.menu/templates/.default/themes/lightblue/style.css?15349432622131 */
/* /bitrix/components/bitrix/socialnetwork.menu/templates/.default/style.min.css?15349432628778 */
/* /bitrix/components/bitrix/socialnetwork.admin.set/templates/.default/style.css?1534943264568 */
/* /bitrix/components/bitrix/socialnetwork.user_profile/templates/short/style.css?15349432642290 */
/* /bitrix/components/bitrix/socialnetwork.user_friends.ex/templates/.default/style.min.css?15349432643265 */
/* /bitrix/components/bitrix/socialnetwork.message_form/templates/.default/style.css?1534943264608 */
/* /bitrix/components/bitrix/socialnetwork.messages_input/templates/.default/style.css?1534943262726 */
/* /bitrix/components/bitrix/main.user.link/templates/.default/style.min.css?1534943179878 */
